<h1>Editing music set</h1>

<%= render "form", music_set: @music_set %>

<br>

<div>
  <%= link_to "Show this music set", @music_set %> |
  <%= link_to "Back to music sets", music_sets_path %>
</div>
