<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<button class="btn btn-info">
 <%= link_to "See all our Djs", djs_path%>
</button>

<button class="btn btn-info">
 <%= link_to "See all our MusicSets", music_sets_path%>
</button>
